.card {
  border-radius: 12px;
  padding: 10px;
  text-align: center;
}

.common {
  background: #e0e0e0;
}

.rare {
  background: #90caf9;
}

.epic {
  background: #ce93d8;
}

.legendary {
  background: gold;
}

.shiny {
  color: gold;
  font-weight: bold;
}
